<div id="menu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><a href="/pages/about">Tôi là ai?</a></li>
    <li><a href="#">Bài viết</a>
      <ul class="sub-menu">
        <% categories.each do |category| %>
          <li class="sub-menu-item"><%= link_to category.name.to_s, category %></li>
        <% end %>
        </li>
      </ul>
    </li>
    <!-- <li><a href="/pages/job">Công việc</a></li>
    <li><a href="/pages/contact">Liên hệ</a></li> -->
  </ul>
</div>

