<div id="menu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><a href="/pages/about">Tôi là ai?</a></li>
    <li><a href="#">Bài viết</a>
      <ul class="sub-menu">
        <li><a href="#">IOS</a></li>
        <li><a href="#">Rails</a></li>
        </li>
      </ul>
    </li>
    <!-- <li><a href="/pages/job">Công việc</a></li>
    <li><a href="/pages/contact">Liên hệ</a></li> -->
  </ul>
</div>

