# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7ead803790a82f9af1a84246a35e73ef64f6a08f1de2dc52c4255d9f540de6e9f420806d9d8e1c6f420fa12e9ca3243ed66c745e44f8f20e302b8da16b427ea4

test:
  secret_key_base: 06557054d0a043858ec9fd7f29ff637950d23bf0d923e9fa0917cadcc1a78743edc3979ed38a5e01d2d5ad8e2281df2dbf83f45f9aee1f7f843c07c574c55ed0

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
