@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Baloo Bhaina', cursive;
}

a {
	text-decoration: none;
}

.logo {
	width: 100%;
	height: 300px;
	text-align: center;
	background-color: #dfdfdf;
	margin: 20px 0;

	img {
		width: auto;
		height: 100%;
	}
}

.fb {
	background-color: #3b5998;
}

.google {
	background-color: #db4a39;
}

.twitter {
	background-color: #00acee;
}

.github {
	background-color: black;
}