.app-footer {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  background-color: #5488c7;
  color: black;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  color: white;

  .author {
    color: #fffb0a;
  }
}
