.sidebar {
	h2.title {
		color: #2e2e2e;
		font-size: 22px;
		padding: 10px 0;
		margin: 0 0 20px;
		letter-spacing: 1.5px;
		text-transform: capitalize;
		position: relative;
		text-align: center;
		font-family: 'Gabriela', serif;
		font-weight: 400;
	}

	h2::before, h2::after {
		content: '';
		display: block;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		background: #585858;
		width: 10%;
		height: 1px;
		text-align: center;
	}

	h2::after {
		right: 16px;
	}

	.about-me {
		.avatar {
			vertical-align: middle;
			max-width: 100%;
			height: auto;
			border-radius: 50%;
		}

		.description {
			margin-top: 10px;
			text-align: center;
			line-height: 1.4;
		}
	}

	.popular-post {
		width: 100%;

		.post {
			width: 100%;
			margin-bottom: 20px;

			.avatar {
				min-width: 30%;
				height: 80px;
				display: inline-block;
				float: left;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}

			.title {
				padding-top: 20px;
				padding-left: 10px;
				width: 70%;
				text-align: justify;
				margin: 0 auto;
				display: inline-block;
				float: right;
			}
		}
	}

	.tags {
		display: inline;

		.tag {
			text-decoration: none;
			color: black;
			display: block;
			float: left;
			padding: 5px 20px;
			border-radius: 5px;
			border: 1px solid #dfdfdf;
			margin-bottom: 10px;
			margin-left: 10px;

			&:hover {
				color: white;
				background-color: #9c29f1bf;
				box-shadow: 1px 1px 1px 1px #dfdfdf;
			}
		}
	}
}
